* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: hidden;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timing {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
h2 {
  padding: 10px;
}

input[type="number"] {
  border: none;
  outline: none;
  font-size: 2rem;
  display: block;
  width: 120px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

a {
    text-decoration: none;
}

button {
  padding: 10px 10px;
  background: none;
  outline: none;
  border: none;
  font-size: 1rem;
  border: 2px solid rgb(30, 0, 128);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

button:hover {
  background: rgb(30, 0, 128);
  color: white;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 300px; /* define un ancho fijo para que el centrado sea predecible */
}

/* Los primeros 4 botones ocupan el 50% cada uno (2 por fila) */
.button-group a, 
.button-group button {
  flex: 0 0 40%;
  box-sizing: border-box;
}

/* El último botón ocupa el 100% y se centra con flexbox */
.button-group a:last-child button {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}
